language = "java10"
run = "run.sh"
modules = ["java-graalvm22.3", "bash"]

[deployment]
run = ["sh", "-c", "bash run.sh"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 27321231

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run.sh"
